$black: rgb(56, 56, 56);
$gray: #9b9b9b;
$blue: #063251;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e2e1e1;
}

.gifs {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
}

.alert {
  text-transform: uppercase;
  font-size: 0.85rem;
  color: #ececec;
  font-weight: 700;
  text-shadow: hsl(209, 34%, 30%);
  background: #ff2600c9;
  border-radius: 3rem;
  box-shadow: 1px 1px 10px #ffffff80;
  height: 1.5rem;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 50%;
}

.scrollTop {
  position: fixed;
  left: 45%;
  width: 100%;
  bottom: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.7;
  color: hsl(0, 0%, 0%);
  &:hover {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

/*
==========
INPUT / FORM FIELD
===========
*/
.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}

input {
  font-size: 1.5rem;
}

.form_field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: hsl(205, 78%, 60%);
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form_label {
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  font-weight: 700;
  color: $blue;
}

/*
==========
NAVBAR
==========
*/

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
nav {
  background: #000000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  height: 100%;
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-toggle {
    font-size: 1.5rem;
    color: hsl(205, 78%, 60%);
    background: transparent;
    border-color: transparent;
    transition: all 0.4s linear;
    cursor: pointer;
    &:hover {
      color: hsl(205, 86%, 17%);
      transform: rotate(90deg);
    }
  }
  .links a {
    color: hsl(205, 78%, 60%);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;

    &:hover {
      background: hsl(205, 86%, 81%);
      color: hsl(205, 78%, 60%);
      padding-left: 1.5rem;
    }
  }
  .links-container {
    height: 0;
    overflow: hidden;
    transition: all 0.4s linear;
  }
}

@media (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important; // without this the height is short
  }
  .links {
    // row
    display: flex;
  }
}
